_criteria
_img
_db
_in-progress

node_modules

.cache
/api
/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/prwdigital.db
/prisma/prwdigital.db-journal

/app/styles/tailwind.css
