
/_img
/_db
/_in-progress
_criteria

node_modules

.cache
/api
/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/prwdigital.db
/prisma/prwdigital.db-journal

/app/styles/tailwind.css
.vercel
